/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

/* Style pour la classe .formulaire */
.formulaire {
    display: flex; /* Utilise Flexbox pour la mise en page */
    justify-content: center; /* Centre les éléments horizontalement */
    margin-bottom: 380px; /* Marge de 380 pixels en bas */
    margin-top: 37px; /* Marge de 37 pixels en haut */
}

/* Style pour la classe .login */
.login {
    text-decoration: none; /* Supprime la décoration (soulignement) du texte */
    color: #000; /* Couleur du texte en noir */
}

/* Style pour la classe .pagelogin */
.pagelogin {
    text-decoration: none; /* Supprime la décoration du texte */
    color: #000; /* Couleur du texte en noir */
    font-weight: 600; /* Épaisseur du texte (semi-gras) */
}

/* Style pour la classe .title_log_in */
.title_log_in {
    text-align: center; /* Alignement du texte au centre */
    margin-top: 150px; /* Marge de 150 pixels en haut */
}

/* Style pour la classe .connexion */
.connexion {
    display: flex; /* Utilise Flexbox */
    flex-direction: column; /* Les éléments sont disposés en colonne */
    margin: 0 auto; /* Marge automatique à gauche et à droite pour centrer */
}

/* Style pour la classe .connexionlabel */
.connexionlabel {
    font-family: "Work Sans"; /* Police de caractères */
    color: #3d3d3d; /* Couleur du texte */
    font-weight: 500; /* Épaisseur du texte */
}

/* Style pour les éléments input dans la classe .connexion */
.connexion input {
    width: 380px; /* Largeur fixe */
    height: 50px; /* Hauteur fixe */
    margin-top: 7px; /* Marge de 7 pixels en haut */
    margin-bottom: 30px; /* Marge de 30 pixels en bas */
    border: none; /* Pas de bordure */
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09); /* Ombre portée */
}

/* Style pour le bouton submit dans la classe .connexion */
.connexion .submit {
    width: 180px; /* Largeur fixe */
    height: 35px; /* Hauteur fixe */
    background: #1d6154; /* Couleur de fond */
    color: #fff; /* Couleur du texte (blanc) */
    border-radius: 60px; /* Bordures arrondies */
    border: none; /* Pas de bordure */
    font-family: "Syne", sans-serif; /* Police de caractères */
    font-weight: 700; /* Épaisseur du texte (gras) */
    margin-top: 7px; /* Marge de 7 pixels en haut */
    margin-bottom: 28px; /* Marge de 28 pixels en bas */
    cursor: pointer; /* Curseur en forme de pointeur */
    margin-left: auto; /* Marge automatique à gauche */
    margin-right: auto; /* Marge automatique à droite */
}

/* Style pour la classe .error */
.error {
    margin: 5px 0; /* Marge de 5 pixels en haut et en bas */
    color: red; /* Couleur du texte en rouge */
    font-family: "Work Sans"; /* Police de caractères */
    font-weight: 500; /* Épaisseur du texte */
    font-style: italic; /* Texte en italique */
}

/* Style pour la classe .password_forgotten */
.password_forgotten {
    font-family: "Work Sans"; /* Police de caractères */
    font-weight: 500; /* Épaisseur du texte */
    color: #3d3d3d; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

/* Définition du style pour les éléments avec la classe .filters */
.filters {
    display: flex; /* Utilisation de Flexbox pour la mise en page */
    justify-content: center; /* Centrage des éléments horizontalement */
    gap: 10px; /* Ajout d'un espace de 10 pixels entre chaque élément */
    align-items: center; /* Centrage des éléments verticalement */
    margin: 50px 0; /* Ajout d'une marge de 50 pixels en haut et en bas, et 0 sur les côtés */
}

/* Définition du style pour les éléments avec la classe .button */
.button {
    display: flex; /* Utilisation de Flexbox */
    align-items: center; /* Centrage des éléments à l'intérieur du bouton verticalement */
    border: 1px #1d6154 solid; /* Bordure solide de 1 pixel de couleur #1d6154 */
    border-radius: 60px; /* Arrondissement des coins du bouton avec un rayon de 60 pixels */
    color: #1d6154; /* Couleur du texte du bouton */
    background: #fff; /* Couleur de fond du bouton (blanc) */
    height: 28px; /* Hauteur fixe du bouton */
    font-family: "Syne", sans-serif; /* Police de caractères pour le texte du bouton */
    font-weight: 700; /* Épaisseur de la police (700 = gras) */
    font-size: 16px; /* Taille de la police */
    text-align: center; /* Alignement du texte au centre */
    padding: 3px 20px; /* Remplissage intérieur du bouton : 3 pixels en haut et en bas, 20 pixels sur les côtés */
    cursor: pointer; /* Le curseur se transforme en pointeur lorsque l'utilisateur survole le bouton */
}

/* Définition du style pour les éléments .button lorsqu'ils sont survolés, 
   ainsi que pour les éléments avec la classe .selected */
.button:hover,
.selected {
    background: #1d6154; /* Couleur de fond change en #1d6154 lors du survol ou si le bouton est sélectionné */
    color: #fff; /* Couleur du texte devient blanc */
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}